.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.panel{
 
  height: 700px;
  border: 2px solid grey;
}
.main-content{
  margin-top: 100px;
}
body{
  background: none;
}
html{
  height: 100%;
  background: linear-gradient(-180deg, #ffffff 0%, #cdcaff 100%);
}